.top-bar{
    background-color: #f5f5f5;
}

.top-bar ul{
    list-style: none;
}

.top-bar li{
    display: inline;
}

.wholebottom {
    background-color: #424a4a;
    color: white;
}
.latest{
    margin: 24px 0 0;
}

.logo ul{
    list-style: none;
}

.logo{
    padding: 25px 0px;
}
.logo li{
    display: inline;
}

.button{
    background-color: #f5f5f5;
    color: black;
    padding: 10px 10px;
    border-radius: 2px;

}
.button2{
    background-color: #434a4a;
    color: white;
    padding: 10px 15px;
    border-radius: 2px;
}
.navigation ul{
    list-style: none;
}

.navigation li{
    display: inline;
}

.wholebottom ul{
    list-style: none;
}

.welcome{
    padding: 45px 25px;
}
.extrashopping{
    margin: 24px 0 0;
}
